html {
    font-family: "Gill Sans", sans-serif;
}

#nav-links {
    flex-grow: 0;
}

#welcome {
    min-height: 76vh;
    padding-bottom: 6rem;
}

section {
    min-height: 75vh;
    margin-bottom: 5rem;
}

.nav-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -38vh;
}

@media (min-width: 768px) {
    section {
        min-height: 60vh;
    }
    .navbar-nav {
        gap: 2rem;
    }
    .nav-anchor {
        top: -33vh;
    }
}