* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 0.03rem solid #474a4d;

    font-size: 100%; 
}

html {
    font-family: "Gill Sans", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border-bottom: var(--border);
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    /* margin: auto; */
}
p {
    font-size: 1.2rem;
    text-align: center;
}

#performances > p {
    font-size: 1.6rem;
}

hr {
    width: 33%;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.8rem;
}

blockquote {
    margin: auto;
}

.testimonial {
    font-size: 1.4rem;
    font-style: italic;
    margin: auto;
}

figcaption {
    font-size: 1.2rem;
}

.flyer {
    height: 22rem;
    width: auto;
}

#mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* mobile */
@media
(max-width: 480px) {
    :root {
        font-size: 16px;
    }

}

/* tablet */
@media
(min-width: 481px) and 
(max-width: 768px) {
    :root {
        font-size: 18px;
    }

}

/* smaller screens */
@media
(min-width: 769px) and 
(max-width: 1024px) {
    :root {
        font-size: 20px;
    }

}

/* larger screens */
@media
(min-width: 1025px) {

    :root {
        font-size: 22px;
    }
}