html {
    font-family: "Gill Sans", sans-serif;
    padding: 2rem;
}

#nav-links {
    flex-grow: 0;
    /* justify-content: flex-end; */
}

main {
    margin-top: 3rem;
}

#welcome {
    min-height: 96vh;
}